*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.sublinhado {
    background-color: rgb(206, 206, 206);
    width: 90%;
    height: 1px;
}

.titulo-secao {
    padding-left: 8px;
    font-size: 16px;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    /* background-color: yellow; */
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 8px;
}

.descricao-item {
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    padding-right: 8px;
}

.nome-item {
    font-size: 14px;
}

.container-imagem-item {
    background-color: black;
    height: 100px;
    max-width: 100px;
    min-width: 100px;
    overflow: hidden;
    display: flex;
    border-radius: 5px;
}

.imagem-item {
    height: 100%;
    width: auto;
}

footer {
    /* background-color: lime; */
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: end;
    filter: drop-shadow(0px 0px 5px);
    justify-items: center;
}

.icones-footer {
    background-color: white;
    height: 70px;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    border-radius: 6px 6px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.btn-central {
    /* background-color: blue; */
    height: 90px;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.btn-central img {
    height: 80px;
}